button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
}

.btn-normal {
    background-color: #3498db;
    color: white;
}

.btn-outline {
    border: 2px solid #3498db;
    background: transparent;
    color: #3498db;
}

.btn-alert {
    background-color: #e74c3c;
    color: white;
}

button:hover {
    scale: 1.1;
}

.btn-normal:hover {
    cursor: crosshair;
}

.btn-outline:hover {
    cursor: pointer;
}

.btn-alert:hover {
    cursor: help;
}