.div{
    position: absolute;
    width: 200px;
    height: 200px;
}

#rojo{
    background-color: red;
    margin-top: 100px;
    margin-left: 100px;
}

#azul{
    background-color: blue;
    margin-top: 150px;
    margin-left: 150px;
}

#verde{
    background-color: green;
    margin-top: 200px;
    margin-left: 200px;
}