td{
    width: 200px;
    border: 1px solid black;
}

table{
    margin: auto;
    border-collapse: collapse;
}

th{
    background-color: black;
    color: white;
}

td:nth-child(even){
    text-align: center;
}