/* Hoja de estilo para la pokedex */

body{
    text-align: center;
    background-color: #3466AF;
}

.button{
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}

.logo{
    width: 600px;
    height: 200px;
}

#pokedex{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background: linear-gradient(180deg, grey 0%, white 100%);
    text-align: center;
}

.front{
    display: none;
}

.card:hover img{
    display: none;
}

.card:hover .front{
    display: inline;
}

.types{
    background-color: yellow;
}